* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(120deg, #d2d7db, #d2d7db);
  color: #222;
  line-height: 1.6;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #d2d7db;
}

header p {
  font-size: 1.2rem;
  color: #bbb;
}

main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #003366;
  margin-bottom: 10px;
}

section {
  margin-bottom: 30px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  background-color: #d2d7db;
  padding: 10px;
  border-left: 4px solid black;
  border-radius: 5px;
}

li {
  margin: 8px 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery img {
  width: 300px;
  height: 150px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.video-container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* نسبت 16:9 */
  height: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d2d7db;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #c1c9d6;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a2e;
  color: #ccc;
  margin-top: 30px;
}

/* واکنش‌گرا برای موبایل */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .gallery img {
    width: 90%;
    height: auto;
  }

  .video-container {
    padding-bottom: 56.25%;
  }
}